<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Books Manager</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Books Manager">
    <mat-card-content>
      <p>
       Olá! Bem vindo ao sistema para Gerenciamento de Livros<br />
       Desenvolvido em Angular 13 e Spring Boot 2. 
       <br />O sistema está rodando na nuvem sendo o front na Vercel e o back na Heroku.<br />
       </p>
    </mat-card-content>
  </mat-card>
 © 2022 GitHub, Inc.
 Terms
 
